.infobox-main-wrapper {
  width: 100%;
  height: 300px;
  background-color: #273036;
}

.main-infobox-1 {
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.info-child {
  display: flex;
  height: 600px;
  width: 33.33%;
  background-color: #273036;
  border: 1px solid gray;
  margin: 20px;
  border-radius: 15px;
}

#pen-part {
  position: relative;
  height: 50%;
}

#square-part {
  position: relative;
  height: 50%;
}

#cloud-part {
  position: relative;
  height: 50%;
}
